@import "../sass/_abstracts/variables";
@import "../sass/_components/buttons";
@import "../sass/_components/title";
@import "../sass/_components/screen";
@import "../sass/_components/keyboard";
@import "../sass/_components/toggle";
@import "../sass/_layout/header";
@import "../sass/_layout/footer";

body{
   margin: 0;  
   padding: 0;
   box-sizing: border-box;
   background-color: $LightBackground;
}