$LightPrimary: #FFFFFF;
$LightSecondary: #AEB3BE;
$LightAction: #0F77F0;
$LightInk: #000000;
$LightBackgroundKeyBoard: rgba(206, 210, 217, 0.8);
$LightBackground: #E7E5F4;

$DarkPrimary: #646464;
$DarkSecondary: #3F3F3F;
$DarkAction: #D3D3D3;
$DarkInk: #FFFFFF;
$DarkBackgroundKeyBoard: #000000;

